<h1><b>|</b> Random </h1>
{{randomMovie.original_title}}
{{randomMovie.release_data}}
{{randomMovie.overview}}
<img
  class="movie-img"
  src="http://image.tmdb.org/t/p/w1280/{{randomMovie.poster_path}}"
  alt=""
/>
{{randomMovie.runtime}}
{{#if movieVideo.key}}
<iframe
  width="560"
  height="315"
  src="https://www.youtube.com/embed/{{movieVideo.key}}"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen
></iframe>
{{else}}
<iframe
  width="560"
  height="315"
  src="https://www.youtube.com/embed/"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen
></iframe>

{{/if}}